footer {
    margin-top: 6rem;
    height: 100px;
    width: 100%;
    background-color: var(--color-light);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}