.cards {
  margin:0 2rem ;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-info {
  background-color: var(--color-card);
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1.5rem;
  padding: 3rem;
  position: relative;
}

.card-info::after {
  content: "";
  width: 8rem;
  height: .3rem;
  background-color: var(--color-red);
  position:absolute;
  top: 3rem;
  right: -3.9rem;
}

.card-info h1 {
  font-size: 2.5rem;
  text-align: end;
  font-weight: 700;
}

.card-info a {
  background-color: var(--color-red);
  color: var(--color-light);
  width: fit-content;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  text-decoration: none;
  transition: 0.3s
}

.card-info a:hover {
  background-color: var(--color-buttom-hover);
}



.card-vantagens {
  color: var(--color-texto);
  background-color: var(--color-fundo);
  background-image: var(--onda-img);
  background-position: center top;
  background-size: 40rem;
  padding: 2rem;
  font-size: 5rem;
  text-align: end;
  align-self: center;
  transition: background-color 0.5s ease-in-out;
}

.card-especificacoes {
  display: flex;
  flex-direction: column;
  padding: 5rem 4rem;
  background-color: var(--color-card);
  position: relative;
  transition: background-color 0.5s ease-in-out;

}


.card-especificacoes p {
    grid-column: 2;
  }
  
.especificacoes-item:nth-child(odd) {
  background-color: var(--color-fundo);
  transition: background-color 0.5s ease-in-out;
} 

.icon {
  display: flex;
  align-items: center;
}

.especificacoes-item {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  padding: 1.5rem;
  gap: 2rem 1rem;
}

.especificacoes-item h3 {
    font-size: 2rem;
}

.spec1:hover::before {
  content: "";
  grid-column: 1;
  width: 0.5rem;
  height: 12.5rem;
  position: absolute;
  background-color: var(--color-red);
  left: 4rem;
}

.spec2:hover::before {
  content: "";
  grid-column: 1;
  width: 0.5rem;
  height: 12.5rem;
  position: absolute;
  background-color: var(--color-red);
  left: 4rem;
}


.spec3:hover::before {
  content: "";
  grid-column: 1;
  width: 0.5rem;
  height: 12.5rem;
  position: absolute;
  background-color: var(--color-red);
  left: 4rem;
}


