.bike img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;

}

@media (width >= 1200px) {
    main {
        max-width: 1200px;
    }
}

@media (width <= 1195px) {
    .vantagens {
        grid-template-columns: 1fr;
    }

    .card-vantagens {
        text-align: center;
        font-size: 4rem;
    }
}

@media (width <= 855px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .card-info::after {
        display: none;
    }

    .card-info {
        text-align: start;
        align-items: start;
    }
}

@media (width <= 585px) {
    .card-vantagens {
        font-size: 3rem;
    }

}

@media (width <= 515px) {
    .card-vantagens {
        font-size: 2rem;
    }

    .card-info h1 {
        font-size: 2.2rem;
    }

    .card-info p {
        font-size: 1.5rem;
    }

    .especificacoes-item h3 {
        font-size: 1.5rem;
    }

    .especificacoes-item p {
        font-size: 1.5rem;
    }

    .card-info {
        text-align: start;
        align-items: start;
    }
}

@media (width <= 480px) {

    body {
        gap: 3rem;
    }

    header {
        gap: 3rem;
    }

    li a {
        font-size: 1rem;
    
    }
    .card-vantagens {
        font-size: 1.5rem;
    }

    .card-info h1 {
        font-size: 1.2rem;
    }

    .card-info p {
        font-size: 1.2rem;
    }

    .especificacoes-item h3 {
        font-size: 1.2rem;
    }

    .especificacoes-item p {
        font-size: 1.2rem;
    }

}

@media (width <= 395px) {

    body {
        gap: 3rem;
    }

    header {
        gap: 3rem;
    }

    li a {
        font-size: .8rem;
    
    }
    .card-vantagens {
        font-size: 1.2rem;
    }

    .card-info h1 {
        font-size: 0.8rem;
    }

    .card-info p {
        font-size: 0.8rem;
    }

    .especificacoes-item h3 {
        font-size: 0.8rem;
    }

    .especificacoes-item p {
        font-size: 0.8rem;
    }

}