.sobre {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
margin: 0 12rem;
margin-top: 4rem;
}

.bike {
    max-width: 100%;
}


.info {
    text-align: end;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1.5rem;
    padding: 1rem; 
    
}


.info h1 {
    font-size: 2.5rem;
    text-align: end;
    font-weight: 700;
}

.info a {
    background-color: var(--color-red);
    color: var(--color-light);
    width: fit-content;
    font-size: 13px;
    padding: 1rem 2rem;
    border-radius: 4px;
    
}

.info p {
    font-size: 15px;
    font-weight: 500;
}


.vantagens {
    color: var(--color-texto);
    background-color: var(--color-fundo);
    padding: 1rem;
    font-size: 5rem;
    font-weight: 550;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.especificacoes {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

.espec1 {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.espec2 {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.espec3 {
    display: flex;
    flex-direction: column;
    align-items: start;

}