.cards {
  margin:0 8rem ;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

span {
    width: 5.5rem;
    height: .3rem;
    background-color: var(--color-red);
    position:absolute;
    top: 4rem;
    right: -2.6rem;
}


.card-info {
  background-color: var(--color-light);
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1.5rem;
  padding: 3rem;
  position: relative;
}

.card-info h1 {
  font-size: 2.5rem;
  text-align: end;
  font-weight: 700;
}

.card-info a {
  background-color: var(--color-red);
  color: var(--color-light);
  width: fit-content;
  font-size: 13px;
  padding: 1rem 2rem;
  border-radius: 4px;
}


img {
    max-width: 100%;
}

.card-vantagens {
  color: var(--color-texto);
  background-color: var(--color-fundo);
  padding: 2rem;
  font-size: 5rem;
  text-align: end;
  align-self: center;
}

.card-especificacoes {
  display: flex;
  flex-direction: column;
  padding: 5rem 4rem;
  background-color: var(--color-light);
}

.card-especificacoes p {
    grid-column: 2;
  }
  

.icon {
  display: flex;
  align-items: center;
}

.especificacoes-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1.5rem;
  gap: 2rem 1rem;
}

.especificacoes-item h3 {
    font-size: 2rem;
}



